body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  padding: 40px;
}

h1 {
  margin-bottom: 5px;
}

.box {
  background: white;
  padding: 15px;
  border-radius: 6px;
  width: 300px;
}

input, button {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}

button {
  cursor: pointer;
}

ul {
  margin-top: 20px;
  padding: 0;
}

li {
  list-style: none;
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
}
